.main {
  &__title {
    margin-top: 40px;
  }

  &__form__text {
    display: flex;
    flex-direction: column;
  }

  &__form__login {
    font-family: "SF Pro Display";
    font-size: 11px;
    line-height: 12px; /* 109.091% */
    letter-spacing: 0.3px;
    margin: 24px 16px 8px;
  }

  &__form__input-size {
    color: #808080;
    border-radius: 6px;
    border: 0.5px solid #e5e5e5;
    background: #f2f2f2;
    height: 48px;
    font-family: "Roboto";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 133.333% */
    padding: 8px 8px 8px 16px;
  }

  &__form__password {
    margin: 16px 16px 8px;
    font-family: "SF Pro Display";
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 109.091% */
    letter-spacing: 0.3px;
  }

  // &__form__input__icon {
  //   position: relative;
  // }

  // &__form__input__icon .fa{
  //   right: 0;
  //   top: 10px;
  //   color: black;
  // }

  // &__fa {
  //   background: url("../../img/Login-Icons.png") no-repeat;
  //   position: absolute;
  // }

  &__form__name {
    margin-top: 24px;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px; /* 140% */
  }

  &__bottom__block {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 8px;
  }

  &__swithcher {
    width: 40px;
    height: 20px;
    border-radius: 20px;
    appearance: none;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
    &:checked {
      background-color: #007aff;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #f2f2f2;
      transition: 0.3s;
    }
    &:checked::before {
      left: 20px;
    }
  }

  &__bottom__block-info {
    display: flex;
    flex: 1;
  }

  &__bottom__block-text {
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    flex: 1;
    letter-spacing: 0.3px;
  }

  &__bottom__block__primary__button {
    border: 1px solid #007aff;
    background-color: #007aff;
    color: white;
    width: 100%;
    height: 40px;
    font-family: "Roboto";
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px; /* 133.333% */
    letter-spacing: 0.3px;
    border-radius: 6px;
    margin-top: 20px;
    padding: 10px 24px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: white;
      background-color: hsla(211, 90%, 52%, 0.892);
    }
  }

  &__line {
    margin-top: 32px;
    width: 100%;
    border: 1px solid #e5e5e5;
  }

  &__bottom__block__google__button {
    border: 1px solid #333;
    background-color: #333;
    color: white;
    width: 100%;
    height: 40px;
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.3px;
    border-radius: 6px;
    margin-top: 32px;
    padding: 10px 16px;
    display: flex;
    justify-content: center;
    gap: 8px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      color: white;
      background-color: #292929;
    }
  }

  &__bottom__block-text--center {
    font-family: "SF Pro Display";
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 166.667% */
    letter-spacing: 0.3px;
  }

  &__question {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 24px;
  }

}
