.background {

  max-width: 900px;
  height: 984px;
  width: 100%;
  background-image: url("../img/fon_picture.webp");
  background-size: cover;
  background-position: center;
  border-radius: 50px 0 0 50px;

}
