@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Light.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Light.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "San-Francisco-Pro-Display";
  src: url("../fonts/San_Francisco_Pro_Display/SF-Pro-Display-Light.otf Francisco\ Pro\ Display/ Francisco\ Pro\ Display/");
  font-weight: 400;
}