@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto/Roboto-Regular.ttf");
  // ("../fonts/Roboto/Roboto-Bold.ttf");
  font-weight: 400;
}

@font-face {
  font-family: "SF Pro Display";
  src: url("../fonts/San_Francisco_Pro_Display/SF-Pro-Display-Regular.otf");
  font-weight: 400;
}
